:root {
    --gradient-from: hsl(252deg 100% 63%);
    --gradient-to: hsl(257deg 97% 69%);
    --body-background: #273549;;
    --header: #F4F4F4;
    --main-white: #fff;
    --input-border: #B295FF;
    --btn-color: #f9f9f9;
    --btn-bk: #353333;
    --unit-title: #CCC1FF;;
    --unit-p: #fff;
    --switcher-bk: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--body-background);
    position: relative;
    transition: ease-in 1s;
}

header {
    background: linear-gradient(
        246deg,
        var(--gradient-from) 0%,
        var(--gradient-to) 100%
    );
    color: var(--header);
    padding: 2rem 1rem;
    margin-bottom: 23px;
}

h1 {
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 38px;
    padding: 1rem;
}

input[type=number] {
    color: var(--main-white);
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.5rem;
    border-radius: 5px;
    border: 2px solid var(--input-border);
    background: transparent;
    max-width: 20rem;
}

input[type=button] {
    display: block;
    margin: auto;
    margin-top: 27px;
    width: 117px;
    height: 42px;
    background: var(--btn-bk);
    color: var(--btn-color);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none; 
    transition: ease-in 1s;  
}


.convert-section h2 {
    color: var(--unit-title);
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-top: 1.2rem;
}

.convert-section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--unit-p);
    padding: 9px;
}

#switcher {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    background: var(--switcher-bk);
    border: none;
    border-radius: 50%;
    font-weight: bold;
    z-index: 1;
    transition: ease-in 1s;
}
